{%extends 'base.html'%}
{%load static%}
{%block contents%}
 <section>
         <div class="container-fluid">
              
                  <div class="full slider_cont_section">
                      <h3 class="large">User Login Form</h3>
                      <form action="{%url 'UserLoginAction'%}" method="POST" class="text-primary" style="width:100%">
                    {% csrf_token %}
                    <table>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="loginid" required placeholder="Enter Login Id">
                </div>
              </div>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" name="pswd" required placeholder="Enter password">
                </div>
              </div>


                        <tr>
                            <td>
                                <button class="btn btn-block btn-primary text-white py-3 px-5" style="margin-left:20%;"
                                        type="submit">
                                    Login
                                </button>
                            </td>
                        </tr>

                        {% if messages %}
                        {% for message in messages %}
                        <font color='RED'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}

                    </table>

                </form>


                  </div> 
               
          


         </div>
      </section>

{%endblock%}